﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Layout/Main.Master" AutoEventWireup="true" CodeBehind="DemoError.aspx.cs" Inherits="NetDeveloper.WebForms.Pages.DemoError" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphMain" runat="server">
    <asp:Button runat="server" ID="btnError" Text="Generar Log" OnClick="btnError_Click" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphBottomScripts" runat="server">
</asp:Content>
