body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-weight: normal;
}

.lbl-input {
    font-style: italic;
    font-weight: bold;
}

.lbl-underline {
    text-decoration: underline;
}

#title-input {
    color: beige;
}

.container {
    border: 1px solid #000;
}

.mb-10 {
    margin-bottom: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.p-10 {
    padding: 10px;
}

.p-custom {
    /* pt pr pb pl */
    padding: 10px 5px 20px 30px; 
}