﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="LoginExternalCallback.aspx.cs" Inherits="NetDeveloper.WebForms.Account.LoginExternalCallback" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            Redireccionando....
        </div>
    </form>
</body>
</html>
